<div class="content">

  <!-- USER INFORMATION -->

  <div class="section">

    <div class="section-header user-header">

      <span>USER INFORMATION</span>

      <button class="add-btn" (click)="openAddUser()">ADD USER</button>

    </div>



    <div class="table-header">

      <span>Name</span>

      <span>Email</span>

      <span>Contact</span>

      <span>Level</span>

      <span>Status</span>

      <span></span>

    </div>



    <div class="table-row" *ngFor="let u of users">

      <span class="cell-name">

        <span class="mobile-label">Name:</span>

        {{ u.fullName }}

      </span>

      <span class="cell-email">

        <span class="mobile-label">Email:</span>

        {{ u.email }}

      </span>

      <span class="cell-contact">

        <span class="mobile-label">Contact:</span>

        {{ u.phone }}

      </span>

      <span class="cell-level">
        <span class="mobile-label">Level:</span>
        {{ u.role }}
      </span>
      <span class="cell-status">
        <span class="mobile-label">Status:</span>
        <span class="status-text" [class.active]="u.isActive">{{ u.isActive ? 'Active' : 'Inactive' }}
        </span>
      </span>
      <span class="cell-action">
        <button class="edit-btn">EDIT</button>
      </span>
    </div>
  </div>
</div>
<app-add-user *ngIf="showAddUser" (save)="addUser($event)" (close)="closeAddUser()">
</app-add-user>